/* TEMPLATE STYLES */


/* Necessary for full page carousel*/

html,
body,
.view {
    height: 100%;
}


/* Navigation*/

.navbar {
    background-color: transparent;
}
.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}


/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.flex-center {
    color: #fff;
}


.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}


/*para video*/
.videores{
    
}

@media (min-width: 525px) {

.videores {
width: 100%;
}
}
/*para content*/
@media (min-width: 525px) {
.btnres{
    display: none;
}
}
@media (max-width: 525px){
.contentres{
    display: none
}
}
.titulos{
    padding-top: 10%;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-weight: 200;
}
@media (max-width: 525px){
.titulos{
    padding-top: 65%;
}
}
.modulosClass{
    color:#FF8800;
}
.fixrow{
    padding-left: 50px;
    padding-top: 25px;
    padding-right: 50px;
    text-align: justify;
}
/*owl carrousel*/
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
¨/*Top*/
.topbrand {
background-color: rgba(0, 0, 0, .7); 
height:70px; 
padding: 10px;
}
@media (max-width: 525px) {
.topbrand {
 display:none;
}
}
@media (min-width: 525px){
.brand{
    display: none;
}
}
@media (max-width: 525px) {
.brand{
 display:block;
}
}

.btnRes{
    background-color: white;


    text-align: center;

    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    display: inline;

}
.iconRes{
    float: left;
}
.textA {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300

}
@media (max-width: 525px){
.textA{
    font-size: 24px;
    text-align: left!important;
}
}
.textSpan {
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(../img/backtext.png) repeat-y;
  -webkit-background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}