

/***** TABLA *****/
.price_table {width: 100%;
	height: 100%;
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: normal;
	color: #444444;
	}
.price_table a{color: #444444;}
.price_table .align_center{text-align: center;}

.price_table .pack-title{font-family: 'Viga', arial, sans-serif;
	font-size: 15px;
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(125, 207, 61, 0.4);
	margin-top:10px;}
.price_table .price{
font-family: 'Viga', arial, sans-serif;
	font-size: 25px;
color: #ffffff;
	text-shadow: 0 1px 0 rgba(125, 207, 61, 0.4);
	margin:30px 0px 20px 0px;
	}
.price_table .time{font-size: 14px;color: #ffffff;
	text-shadow: 0 1px 0 rgba(125, 207, 61, 0.4);}	
	
/* --- header row 1 ---  */
.price_table .column_1 .header_row_1{
	height: 120px;
	width: 100%;
	padding: 5px 0px 0px 0px;
	background: #ff6600;

	}

/* --- header row 2 ---  */
.price_table .column_1 .header_row_2{
	height: 100px;
	width: 100%;
	padding: 5px 0px;
	background: #ff3300;

	}
	
.price_table .column_1{height: 100%;
	float: left;
	width:20%;
	padding-right: 2px;
	}	



	
/**** DATA ROWS  ****/
.price_table .row_style_1,
.price_table .row_style_2,
.price_table .row_style_footer_1,
.price_table .row_style_footer_2
	{width: 100%;
	height: 40px;
	padding-top: 9px;
	float: left;
	}
.price_table .row_style_footer_1, .price_table .row_style_footer_2{padding: 10px 0px;}
	
.price_table .row_style_1, .price_table .row_style_footer_1{background-color: #ffffff;}
.price_table .row_style_2, .price_table .row_style_footer_2{background-color: #F0F0F0;}

.price_table .row_style_1 span, .price_table .row_style_2 span{position:relative;font-size:14px;}
.price_table .row_style_1 span:before, .price_table .row_style_2 span:before{
	width: 24px;
    height: 24px;
	left: -30px;
    position: absolute;
    top: -3px;
	content: "";
    }
.price_table .no-option span:before{
background: url("../images/icon-no.gif") no-repeat 0 0;
	width: 24px;
    height: 24px;
	left: -30px;
    position: absolute;
    top: -3px;
	content: "";
    }

/**** BOTON****/
.buy_now
	{
	width: 60px;
	height: 20px;
	padding: 5px 16px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	border-style: solid;
    border-width: 1px;
	color: #513b26;
	border-color: #ddb385 #dca36c #db904f;
	background: #fab778;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcca94), to(#f9a55c));
	background: -moz-linear-gradient(top, #fcca94,  #f9a55c);
	background: linear-gradient(#FCFC06, #f9a55c);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	 }
.buy_now:hover
	{
	border-color: #d2aa7e #d19c68 #d0894b;
	background: #fbca98;
	background: -webkit-gradient(linear, left top, left bottom, from(#fddfba), to(#fab371));
	background: -moz-linear-gradient(top, #fddfba,  #fab371);
	background: linear-gradient(#fddfba, #fab371);
	}
.celda {
	background-color: #f2f2f2 !important;
}
.respPrice{
	background-color: orange;
	height: 125px;
	padding: 10px;

}